<div class="container">
  <%= render ScoutingReportView,
      "#{ScoutingReportView.render_report_form(@report_type)}",
      scouting_report: @scouting_report,
      changeset: @changeset,
      current_user: @current_user,
      report_type: @report_type %>
</div>
