<main>
  <div class="container alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
  <div class="container alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
  <%= @inner_content %>
</main>
